---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Source Sans Pro', sans-serif;
$base-font-size:   100%;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #616161;
$background-color: #f8f8f8;
$brand-color:      #995CFF;

$grey-color:       #757575;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;
$on-display:       1200px;


// My styles
$text-dark:        #424242;
$text-light:       #bdbdbd;
$text-xxl:         1.75em;
$text-xl:          1.5em;
$text-lg:          1.25em;
$text-reg:         1em;
$text-sm:          .80em;
$text-xs:          .65em;

.muted           { opacity: 0.5; }
.text-inactive   { color: $text-light; }
.text-italic     { font-style: italic; }
.text-bolder     { font-weight: 700; }
.text-inverted   {
  color: #ffffff;
  a {
    color: #ffffff;

    &:visited {
      color: #ffffff;
    }
  }
}


@mixin strong-text {
  color: $text-dark;
  font-weight: 600;
  letter-spacing: .1pt;
}

@mixin card {
  background: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  border-radius: 4px;
}

@mixin flexcenter {
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin flex {
  display: -webkit-flex;
  display: flex;
}

@mixin spacing-lg {
  margin: $spacing-unit;
}

@mixin spacing-md {
  margin: $spacing-unit / 2;
}

@mixin spacing-sm {
  margin: $spacing-unit / 3;
}

@mixin gradient($startColor, $endColor) {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($startColor), to($endColor));
  background: -webkit-linear-gradient(top, $startColor, $endColor);
  background: -moz-linear-gradient(top, $startColor, $endColor);
  background: -ms-linear-gradient(top, $startColor, $endColor);
  background: -o-linear-gradient(top, $startColor, $endColor);
  background: linear-gradient(top, $startColor, $endColor);
}
// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "base",
        "layout",
        "syntax-highlighting",
        "styles",
        "home",
        "portfolio",
        "about",
        "contact"
;
