/**
 * Home styles
 */
 .intro {
   background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2E2E50), to(#1f1f35));
   background: -webkit-linear-gradient(top, #2E2E50, #1f1f35);
   background: -moz-linear-gradient(top, #2E2E50, #1f1f35);
   background: -ms-linear-gradient(top, #2E2E50, #1f1f35);
   background: -o-linear-gradient(top, #2E2E50, #1f1f35);
   background: linear-gradient(top, #2E2E50, #1f1f35);
   margin: 0 0 0 0;
   position: relative;
   text-align: center;
   z-index: 1;

   .logo-intro {
     img {
       width: 200px;
       margin-top: 10em;
     }
   }

   .social {
     margin-bottom: -5em;
   }

   h1 {
     margin: 0 0 -10px 0;
   }

   h1, h4 {
     font-weight: 300;
   }

   a {
     font-weight: 300;
     letter-spacing: .1em;
   }

   a:visited {
     color: #ffffff;
   }

   ul {
     li {
       transition: all 0.5s ease;
       list-style: none;
       display: inline;

       &:hover {
         opacity: 1;
       }
     }
   }

   .intro-nav {
     margin-top: 3em;

     li {
       margin: 2em;
     }
   }

   .intro-waves {
     bottom: 0;
     right: 0;

     .wave-cover {
       height: 160px;
       width: 100%;
       position: relative;
       background: $background-color;
       margin-top: -260px;
     }

     .wave1 {
       margin-top: -15px;
     }

     .wave2 {
       margin-bottom: -500px;
     }

     .wave3 {
       margin-bottom: -500px;
     }

     svg {
       height: 500px;
       width: 100%;
     }
   }
 }

.process-list {
  @include flexcenter;

  .process-item {
    height: 250px;
    //@include spacing-lg;
    margin: $spacing-unit auto $spacing-unit auto;

    .process-title {
      margin-top: $spacing-unit / 3;
      margin-bottom: $spacing-unit;
    }

    img {
      height: 50px;
    }

    li {
      list-style: none;
      margin-bottom: $spacing-unit / 2;
    }
  }
}

.about-home {
  @include flex;

  .bio, .profile {
    @include spacing-md;
    width: 50%;
  }
}

/**
 * Screen: lg
 */

@media screen and (min-width: $on-display) {}

/**
 * Screen: md
 */

@media screen and (min-width: $on-laptop) {}

/**
 * Screen: sm
 */

 @media screen and (min-width: $on-palm) {}
