/**
 * Homepage styles
 */
 .intro {
   @include gradient(#A884FF, #8D5FFE);
   position: relative;
   margin: 0 0 0 0;
   height: 485px;
   padding-top: 45px;
   text-align: center;
   -webkit-box-shadow: inset 0px 0px 11px 4px rgba(0,0,0,0.15);
   box-shadow: inset 0px 0px 11px 4px rgba(0,0,0,0.15);
 }

/**
 * Screen: sm
 */
@media screen and (max-width: $on-palm) {

  .home-btn {
    width: 225px;

    .btn {
      width: 225px;
      padding: 10px;
    }
  }
}

/**
 * Screen: md
 */
@media screen and (min-width: $on-palm) {
  .home-btn { width: 100px; }
}

/**
 * Screen: lg
 */
@media screen and (min-width: $on-laptop) {}
