/**
 * Homepage styles
 */
 .intro {
   @include gradient(#A884FF, #8D5FFE);
   @include flex;
   @include flexcenter;
   position: relative;
   margin: 0 0 0 0;
   height: 485px;
   padding-top: 45px;
   text-align: center;
   -webkit-box-shadow: inset 0px 0px 11px 4px rgba(0,0,0,0.15);
   box-shadow: inset 0px 0px 11px 4px rgba(0,0,0,0.15);
 }

.intro-content {
  margin-bottom: -30px;
  z-index: 1;

  h1, h3 {
    @include text-shadow;
  }

  h3 { margin-bottom: 0; }
}

.intro-title {
  margin-bottom: $spacing-unit * 3;
  font-size: 400%;
}

.intro-bg {
  position: fixed;
  width: 100%;
  height: 485px;
  background-image: url("../images/pattern2.svg");
  z-index: 0;
}

.intro-work {
  position: relative;
  margin-top: 0px;
  margin-bottom: -$spacing-unit;
  background: $background-color;

  .wrapper {
    margin-top: -90px;
  }
}

/**
 * Screen: sm
 */
@media screen and (max-width: $on-palm) {
  .intro-content {
     margin-bottom: 0;
  }
}

/**
 * Screen: md
 */
@media screen and (min-width: $on-palm) {}

/**
 * Screen: lg
 */
@media screen and (min-width: $on-laptop) {}

/**
 * Screen: xl
 */
@media screen and (min-width: 1920px) {
  .wrapper {
    max-width: -webkit-calc(1600px - (#{$spacing-unit} * 2)); //og = 800px
    max-width:         calc(1600px - (#{$spacing-unit} * 2)); //og = 800px
  }

  .post-list {
    .post-block {
      width: 30%;
    }
  }
}
