/**
 * Home styles
 */

nav {
  @include gradient(#1f1f35, #2E2E50);
  font-weight: 300;
  padding: $spacing-unit;

  * {
    display: inline-block;
  }

  .nav-left {
    img { width: 60px; }

    h2 {
      font-weight: 300;
      margin-left: $spacing-unit / 3;
    }
  }

  .nav-right {
    float: right;
    margin-top: $spacing-unit / 2;
  }

}

.nav-items {
  img {
    max-height: 17px;
  }

  li {
    margin: 1em;
    transition: all 0.5s ease;
    list-style: none;
    display: inline;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }
}

.post-header {
  @include strong-text;
}

.post-list {
  @include flexcenter;

  .post-block {
    @include card;
    @include spacing-sm;
    display: inline-block;
    max-width: 30%;
    overflow: hidden;

    a {
      &:hover {
        text-decoration: none;
      }
    }

    .post-image {
      border-bottom: 1px solid #00E5FF;
    }

    .post-details {
      padding: .5em 0 .5em 1em;

      .post-title {
        @include strong-text;
        margin-bottom: -5px;
      }
    }
  }
}



.process-list {
  @include flexcenter;

  .process-item {
    height: 250px;
    //@include spacing-lg;
    margin: $spacing-unit auto $spacing-unit auto;

    .process-title {
      margin-top: $spacing-unit / 3;
      margin-bottom: $spacing-unit;
    }

    img {
      height: 50px;
    }

    li {
      list-style: none;
      margin-bottom: $spacing-unit / 2;
    }
  }
}

.about-home {
  @include flex;

  .bio, .profile {
    @include spacing-md;
    width: 50%;
  }
}

footer {
  @include gradient(#1f1f35, #2E2E50);
  height: 675px;
  margin: 0 0 0 0;
  position: relative;
  text-align: center;

  .footer-waves {
    .wave-cover {
      height: 160px;
      background: #f8f8f8;
      width: 100%;
    }

    .wave4 {
      margin-top: -250px;
    }

    svg {
      height: 500px;
      width: 100%;
    }
  }

  .logo-sm {
    margin-bottom: 20px;

    img {
      @include gradient(#272644, #2A294A);
      padding: 0 10px;
      width: 150px;
    }

    .logo-line {
      border-bottom: 1px solid #8D8D98;
      margin-bottom: -75px;
    }
  }
}


/**
 * Screen: lg
 */

@media screen and (min-width: $on-display) {
  .wrapper {
    max-width: -webkit-calc(1000px - (#{$spacing-unit} * 2)); //og = 800px
    max-width:         calc(1000px - (#{$spacing-unit} * 2)); //og = 800px
  }
}

/**
 * Screen: md
 */

@media screen and (min-width: $on-laptop) {
  .intro {
    min-height: 810px;
  }
}

/**
 * Screen: sm
 */

 @media screen and (min-width: $on-palm) {

 }
