/**
 * Site styles
 */

.btn {
  padding-top: 7px;
  padding-bottom: 6px;
  min-width: 100px;
  font-size: $text-sm;
  color: $text-dark;
  text-align: center;
  border: 1px solid #BDBDBD;
  border-radius: 15px;
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #e2dee8 110%);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

  &:hover {
    color: $brand-color;
    border: 1px solid #a5a5a5;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }

  &:active {
    color: #ffffff;
    background-image: linear-gradient(0deg, #995CFF 0%, #6E36CB 100%);
    border: 1px solid #3C0696;
    border-radius: 100px;
  }
}

nav {
  @include gradient(#2E2E50, #1f1f35);
  font-weight: 300;


  * { display: inline-block; }

  .nav-left {
    position: relative;
    z-index: 2;
    img { width: 60px; }

    h2 {
      font-weight: 300;
      margin-left: $spacing-unit / 3;
    }
  }

  .nav-right {
    position: relative;
    float: right;
    z-index: 2;
    margin-top: $spacing-unit / 2;
    li { margin-left: $spacing-unit; }
  }
}

.nav-social {
  img { max-height: 17px; }

  li {
    margin: 1em;
    transition: all 0.5s ease;
    list-style: none;
    display: inline;
    text-decoration: none;

    &:hover { opacity: 1; }
  }
}

.intro-waves, .footer-waves, .default-waves {
  overflow: hidden;

  svg {
    height: 500px;
    width: 100%;
  }
}

.wave-cover {
  position: relative;
  width: 100%;
  background: $background-color;
  z-index: 3;
}

.default-waves {
  position: relative;
  margin-bottom: -450px;
  background: #1f1f35;
  z-index: 1;

  .wave-cover {
    height: 500px;
    margin-top: -300px;
  }

  .wave1 { margin-top: -470px; }
  .wave2 { margin-top: -480px; margin-bottom: -40px; }
  .wave3 { margin-top: -40px;  margin-bottom: -60px; }
}

.post-content {
  img {
    display: block;
    margin: auto;
    border-radius: 2px;
  }
}

footer {
  @include gradient(#1f1f35, #2E2E50);
  margin: 0 0 0 0;
  position: relative;
  text-align: center;
  overflow: hidden;

  .logo-sm {
    margin-bottom: 20px;

    img {
      @include gradient(#272645, #2B2A4B);
      padding: 0 10px;
      width: 150px;
    }

    .logo-line {
      border-bottom: 1px solid #8D8D98;
      margin-bottom: -75px;
    }
  }

  .footer-waves {
    margin-bottom: 5px;

    .wave-cover {
      margin-bottom: -250px;
      height: 160px;
    }

    .wave4 {
      position: relative;
      margin-top: -20px;
      z-index: 2;
    }

    .wave5 {
      position: relative;
      margin-bottom: -500px;
      z-index: 1;
    }
  }
}

/**
 * Screen: sm
 */
@media screen and (max-width: $on-palm) {
  nav {
    padding: $spacing-unit / 3;

    h2  { display: none; }
    img { width: 100%; }

    .nav-left {
      width: 44px;
    }

    .nav-right {
      margin-top: $spacing-unit / 3;
      float: none;
      width: 85%;

      .nav-items {
        width: 100%;
        text-align: center;
       }

      li {
        @include button-ghost;
        display: inline-block;
        margin-left: 1%;
        margin-right: 1%;
        padding-left: 2%;
        padding-right: 2%;
      }
    }
  }

  .more-block {
    max-width: 40%;

    .more-details {
      padding: .15em 0 .15em .5em;
    }
  }
}

.about-gallery {
  figcaption { display: none; }
}

/**
 * Screen: md
 */
@media screen and (max-width: $on-laptop){

  .post-header { text-align: center; }
  .about-photo { display: none; }

  .photo-mobile {
    margin-top: -60px;
    margin-bottom: 30px;

    img {
      width: 100%;
    }
  }

  .post-content {
    h3, p {
      padding-left: $spacing-unit / 2;
      padding-right: $spacing-unit / 2;
    }
  }
}
