/**
 * Site styles
 */

nav {
  @include gradient(#1f1f35, #2E2E50);

  font-weight: 300;
  padding: $spacing-unit;


  * { display: inline-block; }

  .nav-left {
    position: relative;
    z-index: 2;

    img { width: 60px; }

    h2 {
      font-weight: 300;
      margin-left: $spacing-unit / 3;
    }
  }

  .nav-right {
    position: relative;
    float: right;
    margin-top: $spacing-unit / 2;
    z-index: 2;
  }

  .nav-items {
    li {
      margin-left: $spacing-unit / 2;
      margin-right: $spacing-unit / 2;
    }
  }
}

.nav-social {
  img { max-height: 17px; }

  li {
    margin: 1em;
    transition: all 0.5s ease;
    list-style: none;
    display: inline;
    text-decoration: none;

    &:hover { opacity: 1; }
  }
}

.intro-waves, .footer-waves, .default-waves {
  svg {
    height: 500px;
    width: 100%;
  }
}

.wave-cover {
  position: relative;
  width: 100%;
  background: $background-color;
  z-index: 3;
}

.post-header { @include strong-text; }

.post-list {
  @include flexcenter;

  .post-block {
    @include card;
    @include spacing-sm;
    display: inline-block;
    max-width: 30%;
    overflow: hidden;

    a { &:hover { text-decoration: none; } }

    .post-image { border-bottom: 1px solid #00E5FF; }

    .post-details {
      padding: .5em 0 .5em 1em;

      .post-title {
        @include strong-text;
        margin-bottom: -5px;
      }
    }
  }
}

.default-waves {
  position: relative;
  margin-bottom: -450px;
  background: #2E2E50;
  z-index: 1;

  .wave-cover {
    height: 500px;
    margin-top: -300px;
  }

  .wave1 { margin-top: -480px; }
  .wave2 { margin-top: -480px; margin-bottom: -80px; }
  .wave3 { margin-top: -75px;  margin-bottom: -60px; }
}

footer {
  @include gradient(#1f1f35, #2E2E50);
  height: 675px;
  margin: 0 0 0 0;
  position: relative;
  text-align: center;

  .logo-sm {
    margin-bottom: 20px;

    img {
      @include gradient(#272644, #2A294A);
      padding: 0 10px;
      width: 150px;
    }

    .logo-line {
      border-bottom: 1px solid #8D8D98;
      margin-bottom: -75px;
    }
  }

  .footer-waves {
    .wave-cover {
      height: 160px;
    }

    .wave1, .wave4 {
      position: relative;
      margin-top: -250px;
      z-index: 2;
    }

    .wave2, .wave5 {
      position: absolute;
      margin-top: -215px;
      z-index: 1;
    }
  }
}


/**
 * Screen: lg
 */

@media screen and (min-width: $on-display) {
  .wrapper {
    max-width: -webkit-calc(1000px - (#{$spacing-unit} * 2)); //og = 800px
    max-width:         calc(1000px - (#{$spacing-unit} * 2)); //og = 800px
  }
}

/**
 * Screen: md
 */

@media screen and (min-width: $on-laptop) {
}

/**
 * Screen: sm
 */

 @media screen and (min-width: $on-palm) {

 }
