---
layout: default
---

<div class="wrapper">
  <section class="page-section">
    <h2 class="page-heading"><span>About</span></h2>
  </section>

  <section class="page-section about">

    <div class="photo-mobile">
      <img src="/../images/tony.png" alt="Tony Ellison Photo">
    </div>

    <div class="bio">
      <p>
        <b>Located:</b>
        <span>Chicago, Il</span>
      </p>

      <p>
        <b>Education:</b>
        <span>KCAD - BFA Digital Media 2015</span>
      </p>
      <p>
        <b>About:</b>
        My fascination with technology goes back as far back as I can remember, some of my earliest memories
        are hunting and pecking the keys of a MS-DOS computer. From there forward, and somewhere between
        my first mspaint scribbles and worst photoshop faceswaps, I’ve watched technology grow hopeing that one day I would be able to
        contribute.
      </p>
      <p>
        A few years after that, and I'm a designer who is still passionate about software. I often find myself pondering about
        design thinking's potential to solve problems both within and outside of technology. My position titles may seem across
        the board to some, but throughout my career and personal life, I’ve experimented with as many programs as I could. This has
        allowed me to choose proper tools wisely, to stay efficent, and to feed my curiosity. Deep down I am still a bit of a Photoshop guy,
        but I've grown to love Sketch, Axure, and I've been expanding my horizons by learning some vanilla Javascript to automate some design
        related tasks. When I’m not on my computer I usually spend time with my girlfriend, our <a href="#">cat, and dog.</a>
        I am a lifelong snowboarder, <a href="#">traveler</a>, and <a href="#">artist.</a>
      </p>
      <p>
        If you would like to know anything else, feel free to <a href="mailto:tonyjellison@gmail.com?Subject=Hey%20Tony" target="_top">email</a> me.<br>
        Thanks <i> - Tony</i>
      </p>
    </div>


    <div class="photo">
      <img src="/../images/tony.png" alt="Tony Ellison Photo">
    </div>

  </section>
</div>
