---
layout: default
---

<div class="wrapper">
  <section class="page-section">
    <h2 class="page-heading"><span>About</span></h2>
  </section>

  <section class="page-section about">
    <div class="bio">
      <p>
        <b>Located:</b>
        <span>Chicago, Il</span>
      </p>

      <p>
        <b>Education:</b>
        <span>KCAD - BFA Digital Media 2015</span>
      </p>
      <p>
        <b>About:</b>
        My fascination with technology goes back as far back as I can remember, some of my earliest memories
        are of my small fingers hunting and pecking the keys of a MS-DOS computer. From there forward, and somewhere between
        my first mspaint scribbles and worst photoshop faceswaps, I’ve watched technology grow hopeing that one day I would be able to
        contribute.
      </p>
      <p>
        Fast forward a few years, and I am now a designer who is passionate about both software, and design thinking's potential to
        solve real problems. Throughout my career, school, and personal life, I’ve experimented with a very broad range of technology,
        but deep down I am still a bit of a Photoshop guy. Recently, I've become quite efficent with Sketch and Axure, and am
        expanding my horizons by learning basic comp-sci coupled with vanilla Javascript. When I’m not on my computer I usually spend time
        with my girlfriend, our <a href="#">cat, and dog.</a> I am a lifelong <a href="#">snowboarder</a>, <a href="#">traveler</a>,
        and <a href="#">artist.</a>
      </p>
      <p>
        Feel free to <a href="mailto:tonyjellison@gmail.com?Subject=Hey%20Tony" target="_top">email</a> me if there is anything else you would like to know.<br>
        <i>I appreciate your time - Tony</i>
      </p>
    </div>


    <div class="photo">
      <img src="/../images/tony.png" alt="Tony Ellison Photo">
    </div>

  </section>
</div>
