---
layout: default
---

<div class="wrapper">

  <section class="about">

    <div class="about-photo-mobile">
      <img src="/../images/about/tony.png" alt="Tony Ellison Photo">
    </div>

    <div class="bio">
      <p>
        <b>Located:</b>
        <span>Gilbert, Az</span>
      </p>

      <p>
        <b>Education:</b>
        <span>KCAD - BFA Digital Media 2015</span>
      </p>
      <p>
        <b>About:</b>
        My fascination with technology goes back as far back as I can remember, some of my earliest memories
        are hunting and pecking the keys of a MS-DOS computer. From there forward, and somewhere between
        my first MSpaint scribbles and worst Photoshop faceswaps, I’ve watched technology grow hoping that one day I would be able to
        contribute.
      </p>
      <p>
        A few years after that, and I'm a designer who is still passionate about software. I often find myself pondering about
        design thinking's potential to solve problems both within and outside of technology. My position titles may seem across
        the board to some, but throughout my career and personal life, I’ve experimented with as many programs as I could. This has
        allowed me to choose proper tools wisely, to stay efficient, and to feed my curiosity. Deep down I am still a bit of a Photoshop guy,
        but I've grown to love Sketch, Axure, and I've been expanding my horizons by learning some vanilla Javascript to automate some design
        related tasks. When I’m not on my computer, I usually spend time with my girlfriend, our two dogs, and cat.
        I am a lifelong snowboarder, traveler, and artist.
      </p>
      <p>
        If you would like to know anything else, feel free to <a href="mailto:tonyjellison@gmail.com?Subject=Hey%20Tony" target="_top">email</a> me.<br>
        Thanks <i> - Tony</i>
      </p>
    </div>


    <div class="about-photo">
      <img src="/../images/about/tony.png" alt="Tony Ellison Photo">
      <!-- Gallery -->
      <div class="about-gallery" itemscope itemtype="http://schema.org/ImageGallery">

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="/../images/about/fam.jpg" itemprop="contentUrl" data-size="1421x911">
              <img src="/../images/about/th-fam.png" itemprop="thumbnail" alt="family photo thumbnail" />
          </a>
          <figcaption itemprop="caption description">Right side: top is Henry, bottom left is Lily, and bottom right is Bagheera.</figcaption>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="/../images/about/telly.jpg" itemprop="contentUrl" data-size="1600x1364">
              <img src="/../images/about/th-telly.png" itemprop="thumbnail" alt="Teluride trip thumbnail" />
          </a>
          <figcaption itemprop="caption description">Hiking and mountian biking in Teluride, Co.</figcaption>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="/../images/about/dominica.jpg" itemprop="contentUrl" data-size="1600x1600">
              <img src="/../images/about/th-dominica.png" itemprop="thumbnail" alt="Dominica trip thumbnail" />
          </a>
          <figcaption itemprop="caption description">A few photos from my recent trip to dominica.</figcaption>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="/../images/about/art.jpg" itemprop="contentUrl" data-size="2390x1227">
              <img src="/../images/about/th-art.png" itemprop="thumbnail" alt="tony's artwork thumbnail" />
          </a>
          <figcaption itemprop="caption description">Some of my paintings. Done with pencil, ink, and watercolor</figcaption>
        </figure>

      </div>
      <!-- End Gallery -->
    </div>



  </section>
</div>
