<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <nav class="nav-main text-inverted">
      <div class="nav-left">
        <a href="/index/">
          <div>
            <img src="/images/te-Logo-Transparent.png">
            <h2>TONY ELLISON</h2>
          </div>
        </a>
      </div>

      <div class="nav-right">
        <ul class="nav-items">
          <li><a href="/portfolio/">Portfolio</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/TonyEllison_Resume_2017.pdf" target="_blank">Resume</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </div>
    </nav>

    <div class="default-waves">
      <svg class="wave3"></svg>
      <svg class="wave2"></svg>
      <svg class="wave1"></svg>
      <div class="wave-cover"></div>
    </div>

    <main class="page-content" aria-label="Content">
        {{ content }}
    </main>

    <footer>
      <div class="footer-waves">
        <div class="wave-cover"></div>
        <svg class="wave5"></svg>
        <svg class="wave4"></svg>
      </div>

      <div class="wrapper">
        <div class="logo-sm">
          <div class="logo-line"></div>
          <a href="/index/"><img src="/../images/te-Logo-Transparent.png"></a>
        </div>

        <ul class="nav-social">
          <li class="muted"><a href="https://www.linkedin.com/in/tonyjellison/" target="_blank"><img src="/../images/linkdin-icon.png"></a></li>
          <li class="muted"><a href="https://www.behance.net/tonyjellison" target="_blank"><img src="/../images/behance-icon.png"></a></li>
          <!--<li class="muted"><a href="https://dribbble.com/Tonyjellison" target="_blank"><img src="/../images/dribbble-icon.png"></a></li>-->
          <li class="muted"><a href="https://github.com/tenderScript" target="_blank"><img src="/../images/github-icon.png"></a></li>
          <li class="muted"><a href="http://codepen.io/tenderScript/" target="_blank"><img src="/../images/codepen-icon.png"></a></li>
        </ul>

        <p><small class="text-inverted muted">tonyjellison@gmail.com</small></p>
        <p><small class="text-inverted muted">Copyright 2017 Tony Ellison All Rights Reserved.</small></p>
      </div>
    </footer>

  </body>
  <script src="/js/snap.svg-min.js"></script>
  <script src="/js/animations.js"></script>
  <script src="/js/main.js"></script>
</html>
