<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>


    <main class="page-content" aria-label="Content">
      <!--<div class="wrapper"></div>-->
        {{ content }}

    </main>

    <footer>Contact me</footer>

  </body>

<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.5.1/svg.min.js"></script> -->
  <script src="/js/jquery-3.1.1.min.js"></script>
  <script src="/js/snap.svg-min.js"></script>
  <script src="/js/animations.js"></script>
  <script src="/js/main.js"></script>
</html>
