<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <nav class="nav-main text-inverted">
      <div class="nav-left">
        <a href="/index/">
          <div>
            <img src="/images/te-Logo-Transparent.png">
            <h2>TONY ELLISON</h2>
          </div>
        </a>
      </div>

      <div class="nav-right">
        <ul class="nav-items">
          <li><a href="/portfolio/">Portfolio</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/TonyEllison_Resume_2017.pdf" target="_blank">Resume</a></li>
          <!--<li><a href="/contact/">Contact</a></li>-->
        </ul>
      </div>
    </nav>

    <div class="default-waves">
      <svg class="wave3"></svg>
      <svg class="wave2"></svg>
      <svg class="wave1"></svg>
      <div class="wave-cover"></div>
    </div>

    <main class="page-content" aria-label="Content">
        {{ content }}
    </main>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>

    <footer>
      <div class="footer-waves">
        <div class="wave-cover"></div>
        <svg class="wave5"></svg>
        <svg class="wave4"></svg>
      </div>

      <div class="wrapper">
        <div class="logo-sm">
          <div class="logo-line"></div>
          <a href="/index/"><img src="/../images/te-Logo-Transparent.png"></a>
        </div>

        <ul class="nav-social">
          <li class="muted"><a href="https://www.linkedin.com/in/tonyjellison/" target="_blank"><img src="/../images/linkdin-icon.png"></a></li>
          <li class="muted"><a href="https://www.behance.net/tonyjellison" target="_blank"><img src="/../images/behance-icon.png"></a></li>
          <!--<li class="muted"><a href="https://dribbble.com/Tonyjellison" target="_blank"><img src="/../images/dribbble-icon.png"></a></li>-->
          <li class="muted"><a href="https://github.com/tenderScript" target="_blank"><img src="/../images/github-icon.png"></a></li>
          <li class="muted"><a href="http://codepen.io/tenderScript/" target="_blank"><img src="/../images/codepen-icon.png"></a></li>
        </ul>

        <p><small class="text-inverted muted">tonyjellison@gmail.com</small></p>
        <p><small class="text-inverted muted">Copyright 2018 Tony Ellison All Rights Reserved.</small></p>
      </div>
    </footer>

  </body>
  <script src="/js/snap.svg-min.js"></script>
  <script src="/js/animations.js"></script>
  <script src="/js/photoswipe.min.js"></script>
  <script src="/js/photoswipe-ui-default.min.js"></script>
  <script src="/js/main.js"></script>
</html>
