<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

   <div class="intro">
    <div class="logo-intro"><img src="../images/te-Logo-Transparent.png"></div>
      <div class="title-intro text-inverted">
        <h1>TONY ELLISON</h1>
        <h4>Ux <small>&</small> Visual Designer</h4>
      </div>
      <ul class="intro-nav">
        <li><a href="/portfolio/" class="text-inverted">Portfolio</a></li>
        <li><a href="/about/" class="text-inverted">About</a></li>
        <li><a href="/TonyEllison_Resume_2017.pdf" target="_blank" class="text-inverted">Resume</a></li>
        <li><a href="/contact/" class="text-inverted">Contact</a></li>
      </ul>
      <ul class="nav-social">
        <li class="muted"><a href="https://www.linkedin.com/in/tonyjellison/" target="_blank"><img src="/../images/linkdin-icon.png"></a></li>
        <li class="muted"><a href="https://www.behance.net/tonyjellison" target="_blank"><img src="/../images/behance-icon.png"></a></li>
        <li class="muted"><a href="https://dribbble.com/Tonyjellison" target="_blank"><img src="/../images/dribbble-icon.png"></a></li>
        <li class="muted"><a href="https://github.com/tenderScript" target="_blank"><img src="/../images/github-icon.png"></a></li>
        <li class="muted"><a href="http://codepen.io/tenderScript/" target="_blank"><img src="/../images/codepen-icon.png"></a></li>
      </ul>
      <div class="intro-waves">
        <svg class="wave3"></svg>
        <svg class="wave2"></svg>
        <svg class="wave1"></svg>
        <div class="wave-cover"></div>
      </div>
    </div>

    <div class="wrapper">

      <section class="page-section">
        <h2 class="page-heading"><span>Featured Projects</span></h2>

        <ul class="post-list">
            <li class="post-block">
              <a class="post-link" href="/sports-hub/">
                <div class="post-image">
                  <img src="../images/posts/sports-hub/post-sportshub.png">
                </div>
                <div class="block-details">
                  <h4 class="block-title">Sports Hub</h4>
                  <label class="post-meta">UX/UI</label>
                </div>
              </a>
            </li>

            <li class="post-block">
              <a class="post-link" href="/vnn-branding/">
                <div class="post-image">
                  <img src="../images/posts/vnn-branding/post-vnn-branding.png">
                </div>
                <div class="block-details">
                  <h4 class="block-title">VNN Branding</h4>
                  <label class="post-meta">UX/UI</label>
                </div>
              </a>
            </li>
<!--
            <li class="post-block">
              <a class="post-link" href="/web-banners/">
                <div class="post-image">
                  <img src="../images/posts/web-banners/post-web-banners.png">
                </div>
                <div class="block-details">
                  <h4 class="block-title">Advertising Design</h4>
                  <label class="post-meta">Visual Design</label>
                </div>
              </a>
            </li>
-->
            <li class="post-block">
              <a class="post-link" href="/vnn-registration/">
                <div class="post-image">
                  <img src="../images/posts/registration/post-registration.png">
                </div>
                <div class="block-details">
                  <h4 class="block-title">VNN Registration</h4>
                  <label class="post-meta">UX Design</label>
                </div>
              </a>
            </li>

            <li class="post-block">
              <a class="post-link" href="/profesh/">
                <div class="post-image">
                  <img src="../images/posts/profesh/post-profesh.png">
                </div>
                <div class="block-details">
                  <h4 class="block-title">Professional Suite</h4>
                  <label class="post-meta">UX Design</label>
                </div>
              </a>
            </li>
<!--
            <li class="post-block">
              <a class="post-link" href="/karsten/">
                <div class="post-image">
                  <img src="../images/posts/karsten/post-karsten.png">
                </div>
                <div class="block-details">
                  <h4 class="block-title">Karsten Contruction</h4>
                  <label class="post-meta">Visual Design</label>
                </div>
              </a>
            </li>
        </ul>
-->
      </section>

      <section class="page-section">
        <h2 class="page-heading"><span>My Process</span></h1>
        <div class="process-list">
          <div class="process-item">
            <div class="process-title">
              <img src="../images/research-icon.png">
            </div>
            <ul>
              <li><h4>1. Research</h4></li>
              <li> - Parallel Industries</li>
              <li> - Best Practices</li>
              <li> - Past Iterations </li>
              <li> - Analytics Inventory</li>
            </ul>
          </div>
          <div class="process-item">
            <div class="process-title">
              <img src="../images/planning-icon.png">
            </div>
            <ul>
              <li><h4>2. Plan</h4></li>
              <li> - Create Site Maps & Userflows</li>
              <li> - Sketch Wireframes</li>
              <li> - Build Lo-Fi Prototypes</li>
              <li> - User Testing</li>
            </ul>
          </div>
          <div class="process-item">
            <div class="process-title">
              <img src="../images/implement-icon.png">
            </div>
            <ul>
              <li><h4>3. Implment</h4></li>
              <li> - Finalize Text/Copy</li>
              <li> - Create Visual Assets</li>
              <li> - Create Hi-Fi Prototype</li>
              <li> - Usability Testing</li>
            </ul>
          </div>
          <div class="process-item">
            <div class="process-title">
              <img src="../images/iterate-icon.png">
            </div>
            <ul>
              <li><h4>4. Iterate</h4></li>
              <li> - Collect Feedback</li>
              <li> - Customer Acceptence</li>
              <li> - User Test</li>
              <li> - Add Features</li>
            </ul>
          </div>
        </div>
      </section>
    </div><!-- End Wrapper -->

    <footer>
      <div class="footer-waves">
        <div class="wave-cover"></div>
        <svg class="wave5"></svg>
        <svg class="wave4"></svg>
      </div>

      <div class="wrapper">
        <div class="logo-sm">
          <div class="logo-line"></div>
          <a href="/index/"><img src="/../images/te-Logo-Transparent.png"><a>
        </div>

        <ul class="nav-social">
          <li class="muted"><a href="https://www.linkedin.com/in/tonyjellison/" target="_blank"><img src="/../images/linkdin-icon.png"></a></li>
          <li class="muted"><a href="https://www.behance.net/tonyjellison" target="_blank"><img src="/../images/behance-icon.png"></a></li>
          <li class="muted"><a href="https://dribbble.com/Tonyjellison" target="_blank"><img src="/../images/dribbble-icon.png"></a></li>
          <li class="muted"><a href="https://github.com/tenderScript" target="_blank"><img src="/../images/github-icon.png"></a></li>
          <li class="muted"><a href="http://codepen.io/tenderScript/" target="_blank"><img src="/../images/codepen-icon.png"></a></li>
        </ul>

        <p><small class="text-inverted muted">tonyjellison@gmail.com</small></p>
        <p><small class="text-inverted muted">Copyright 2017 Tony Ellison All Rights Reserved.</small></p>
      </div>
    </footer>

  </body>
  <script src="/js/snap.svg-min.js"></script>
  <script src="/js/animations.js"></script>
  <script src="/js/main.js"></script>
</html>
<!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
-->
