<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <nav class="nav-main">
      <div class="nav-left">
        <a href="/index/">
          <p>TONY ELLISON</p>
        </a>
      </div>
      <div class="nav-right">
        <ul class="nav-items">
          <li><a href="/index/">Work</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/TonyEllison_Resume_2020.pdf" target="_blank">Resume</a></li>
        </ul>
      </div>
    </nav>

    <section class="intro">
      <div class="wrapper">
        <h1 class="text-inverted">UX & UI Designer</h1>
        <h2 class="text-inverted">My Work</h2>
      </div>
    </section>

    <div class="wrapper">
      <section class="page-section">
        <ul class="post-list">
            <li class="post-block">
              <a class="post-link" href="/regis/">
                <h2 class="post-title-new text-inverted">REGIS</h2>
                <button class="btn">View Project</button>
                <div class="post-image-new">
                  <img src="../images/posts/regis/post-regis.jpg">
                </div>
              </a>
            </li>
            <li class="post-block">
              <a class="post-link" href="/profesh/">
                <h2 class="post-title-new text-inverted">Professional Suite</h2>
                <button class="btn">View Project</button>
                <div class="post-image-new">
                  <img src="../images/posts/profesh/post-profesh.jpg">
                </div>
              </a>
            </li>
            <li class="post-block">
              <a class="post-link" href="/sports-hub/">
                <h2 class="post-title-new text-inverted">Sports Hub</h2>
                <button class="btn">View Project</button>
                <div class="post-image-new">
                  <img src="../images/posts/sports-hub/post-sportshub.jpg">
                </div>
              </a>
            </li>
            <li class="post-block">
              <a class="post-link" href="/vnn-registration/">
                <h2 class="post-title-new text-inverted">VNN Registration</h2>
                <button class="btn">View Project</button>
                <div class="post-image-new">
                  <img src="../images/posts/registration/post-registration.jpg">
                </div>
              </a>
            </li>
            <li class="post-block">
              <a class="post-link" href="/sites-usa/">
                <h2 class="post-title-new text-inverted">Sites USA?</h2>
                <button class="btn">View Project</button>
                <div class="post-image-new">
                  <img src="../images/posts/sites-usa/post-sitesusa.png">
                </div>
              </a>
            </li>
            <li class="post-block">
              <a class="post-link" href="/misc/">
                <h2 class="post-title-new text-inverted">Misc Projects</h2>
                <button class="btn">View Project</button>
                <div class="post-image-new">
                  <img src="../images/posts/misc/post-misc.png">
                </div>
              </a>
            </li>
          </ul>
      </section>
    </div><!-- End Wrapper -->

    <footer>
      <div class="wrapper">
        <ul class="nav-social">
          <li class="muted"><a href="https://www.linkedin.com/in/tonyjellison/" target="_blank"><img src="/../images/linkdin-icon.png"></a></li>
          <li class="muted"><a href="https://www.behance.net/tonyjellison" target="_blank"><img src="/../images/behance-icon.png"></a></li>
          <li class="muted"><a href="http://codepen.io/tenderScript/" target="_blank"><img src="/../images/codepen-icon.png"></a></li>
        </ul>
        <p><small><b>Tonyjellison@gmail.com</b></small></p>
        <p><small>Copyright 2021 Tony Ellison All Rights Reserved.</small></p>
      </div>
    </footer>

  </body>
  <script src="/js/snap.svg-min.js"></script>
  <script src="/js/animations.js"></script>
  <script src="/js/main.js"></script>
</html>
<!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
-->
