---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="wrapper">
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    </header>
    <section class="post-details">
      <p><b>Client: </b><span>{{ page.client }}</span></p>
      <p><b>Role: </b><span>{{ page.role }}</span></p>
      <p><b>Problem: </b><span>{{ page.problem }}</span></p>
      <p><b>Solution: </b><span>{{ page.solution }}</span></p>
    </section>
    <section class="post-preview">
      <img src="{{ page.preview }}">
    </section>
  </div>
  
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

    {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
    {% endif %}
</article>
