---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">


  <section class="post-preview-new">
    <div class="wrapper">
      <img src="{{ page.preview }}">
    </div>
  </section>

  <section class="post-details-new">
    <div class="wrapper">
      <div class="post-details-card text-inverted">
        <header class="post-header">
          <h1 class="post-title text-inverted" itemprop="name headline">{{ page.title | escape }}</h1>
        </header>
        {% if page.details == "set1" %}
          <p><b>Client: </b><span>{{ page.client }}</span></p>
          <p><b>Role: </b><span>{{ page.role }}</span></p>
          <p><b>Problem: </b><span>{{ page.problem }}</span></p>
          <p><b>Solution: </b><span>{{ page.solution }}</span></p>
        {% endif %}
        {% if page.details == "set2"%}
          <p><b>About: </b><span>{{ page.about }}</span></p>
        {% endif %}
      </div>
    </div>
  </section>


  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

    {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
    {% endif %}

</article>

<div class="wrapper">
  <section class="page-section">
    <h2 class="page-heading"><span>View More</span></h2>
    <ul class="post-list">
      {% for post in site.posts limit:5 %}
        <li class="more-block">
          <a class="post-link" href="{{ post.url | relative_url }}">
            <div class="more-image">
              <img src="{{ post.image }}">
            </div>
            <div class="more-details">
              <span class="block-title">{{ post.title | escape }}</span>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
    </section>
</div>
